
.sceneContainer {
  width: 100%;
  height: 400px;
  position: relative;
  margin: 40px 0;
}

@media (max-width: 768px) {
  .sceneContainer {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .sceneContainer {
    height: 200px;
  }
}
